services:
  prometheus:
    hostname: prometheus
    container_name: prometheus
    image: prom/prometheus
    ports:
      - 9998:9090
    volumes:
      - ./prometheus/config:/etc/prometheus
      - ./prometheus/data:/prometheus
  grafana:
    hostname: grafana
    container_name: grafana
    image: grafana/grafana-enterprise
    environment:
      - GF_PATHS_CONFIG=/usr/share/grafana-config/custom.ini
    ports:
      - 9999:3000
    volumes:
      - ./grafana/config:/usr/share/grafana-config
      - ./grafana/data:/var/lib/grafana
  snmp-exporter:
    hostname: snmp-exporter
    container_name: snmp-exporter
    image: prom/snmp-exporter
    ports:
      - 9901:9116
      - 161:161/udp
    volumes:
      - ./snmp-exporter/config:/etc/snmp-exporter
    command: --config.file=/etc/snmp-exporter/snmp.yml
  carel-exporter:
    hostname: carel-exporter
    container_name: carel-exporter
    build:
      context: './carel-exporter'
    ports:
      - 9902:9000


